h1 {
   position: relative;
   left: 1050px;
}

h2 {
   position: relative;
   left: 1050px;
   top: 40px;
}

body {
   margin: 0;
}

.content {
   width: 1024px;
   height: 768px;
   background-image: url("../images/scarlettBrukbard.jpg");
   background-size: cover;
   margin: 0;
   position: absolute;
   top: 0px;
}

.box1 {
   width: 90px;
   height: 50px;
   left: 670px;
   top: 100px;
}

.box:hover {
   display: block;
   color: white;
   opacity: 1;
}

.box {
   position: absolute;
   opacity: 0;
   margin: 0;
   transition-delay: 0s;
   transition-duration: .5s;
   transition-property: opacity;
}

.box2 {
   width: 50px;
   height: 50px;
   top: 171px;
   left: 763px;
}

.box3 {
   width: 165px;
   height: 70px;
   top: 25px;
   left: 670px;
}

.box4 {
   width: 300px;
   height: 265px;
   top: 80px;
   left: 20px;
}

.box5 {
   height: 250px;
   width: 420px;
   top: 480px;
   left: 140px;
}

.box6 {
   width: 100px;
   height: 100px;
   top: 230px;
   left: 705px;
}

.box7 {
   width: 150px;
   height: 150px;
   left: 840px;
   top: 360px;
   background-image: url("../images/tenor.gif");
   background-size: cover;
   border-radius: 25%;
}

.box8 {
   width: 130px;
   height: 190px;
   left: 620px;
   top: 430px;
}

.box9 {
   width: 95px;
   height: 80px;
   left: 760px;
   top: 550px;
}